<%- include('./partials/header'); -%>

<form class="text-center" action="/login" method="POST">
    <h1>Login</h1>
    <input class="form-group" type="text" name="username" placeholder="username">
    <br>
    <input class="form-group" type="password" name="password" placeholder="password">
    <br>
    <button class="form-group btn btn-primary" type="submit">Submit</button>
</form>

<%- include('./partials/footer'); -%>
